.table_input {
  border: none;
}

.dash-header-none {
  display: none;
}

.errmsg {
  color: red;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
  text-align: left;
  width: 100%;
}

.offscreen {
  display: none;
}
